.reveal section p {
    text-align: left;
}

.reveal .white {
    color: #F0F1EB
}

.reveal .gray {
    color: #a7a7a7
}

.reveal .left {
    text-align: left
}

li strong, h1 strong, p strong {
    color: #8b7c69;
}

.reveal ul {
    padding-bottom: 20px;
    display: block;
}

.reveal ol {
    display: block;
}

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 0px solid #000;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}

span.slide-number-a::before {
    content: "Slide";
    margin-right: 5px;
}

.reveal blockquote {
    width: 100%;
    text-align: left;
}

.reveal pre {
    padding: 10px;
    font-size: 0.7em;
}

/*------------------------------------------- */
/* Two columns */
#left {
    left: -8.33%;
    text-align: left;
    float: left;
    width: 50%;
    z-index: -10;
}

#right {
    left: 31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index: -10;
    width: 50%;
}

/*------------------------------------------- */
/* Small size */
.mysmall {
    font-size: 0.9em !important;
}

/*------------------------------------------- */
/* Bottom */
span.myfoot {
    margin-left: 40px;
    font-size: 0.8em;
    display: table;
}
span.myfoot::before {
    content: "↪️"
}
